<div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
              <mat-label>Correo electrónico</mat-label>
              <input matInput type="email" placeholder="Ej. juan.perez@ejemplo.com" required />
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="Tu contraseña" required />
          </mat-form-field>
  
          <button mat-raised-button color="primary">Iniciar sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  