<div class="login-container">
  <div class="card">
    <div class="card__header">
      <h2 class="card__title">Iniciar sesión</h2>
    </div>
    <div class="card__content">
      <form [formGroup]="loginForm" class="form">
        <div class="form__field">
            <label class="form__label">Correo electrónico</label>
            <input formControlName="email" type="email" placeholder="Ej. juan.perez@ejemplo.com" required class="form__input" />
        </div>
        <div class="form__field">
            <label class="form__label">Contraseña</label>
            <input formControlName="password" type="password" placeholder="Tu contraseña" required class="form__input" />
        </div>
        <div class="login-container__form-button-group">
            <button (click)="login()" type="button" class="button button-primary">Iniciar sesión</button>
            <button type="button" class="button button-secondary">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>

