.product-list-container {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
  }
  width: 800px;
  &__details {
    &__img {
      width: 140px;
    }
    &__quantity {
      width: 380px
    }
  }
  &__actions {
    width: 180px;
    &__buttons {
      &__button {
        width: 30px;
        height: 30px;
      }
    }
  }
}

img {
  display: block;
  max-height: 90px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
