<button class="button button-primary" (click)="showModal()">Agregar producto</button>
<ng-container *ngFor="let product of (productList$ | async)">
  <div class="product-list-container mt-1 mb-1">
    <div class="card w-100" (click)="getProductDetails(product)">
      <div class="card__content flex flex-justify-between pr-0 pl-0 w-100">
        <div class="product-list-container__details flex flex-justify-between">
          <div class="product-list-container__details__img flex flex-justify-center mr-1">
            <img [src]="product.imageUrl" alt="{{product.name}}">
          </div>
          <div>
            <h4>{{product.name}}</h4>
            <p class="product-list-container__details__quantity">Cantidad disponible: {{product.quantity}} </p>
            <p>{{product.description}} </p>
         </div>
        </div>

       <div class="product-list-container__actions">
          <p>{{product.price | currency}}</p>
          <div class="product-list-container__actions__buttons mt-1 flex flex-justify-start">
            <img class="product-list-container__actions__buttons__button" src="/assets/icons/actions/edit.svg" alt="Editar" (click)="$event.stopPropagation()">
            <img class="product-list-container__actions__buttons__button ml-1" src="/assets/icons/actions/delete.svg" alt="Eliminar" (click)="confirmDelete($event, product)">
          </div>
       </div>
      </div>
    </div>
  </div>
</ng-container>

<app-modal [modalId]="MODAL_IDS.CREATE_PRODUCT" [(isVisible)]="isModalVisible">
  <app-product-form></app-product-form>
</app-modal>

<app-modal [modalId]="MODAL_IDS.CONFIRMATION_MODAL" [(isVisible)]="isConfirmationModalVisible">
  <app-confirmation-modal
    [title]="'Eliminar producto'"
    [message]="'¿Estás seguro de que deseas eliminar este producto? Esta acción no se puede deshacer.'"
    [confirmText]="'Eliminar'"
    [cancelText]="'Cancelar'"
    [confirmButtonType]="'danger'"
    (confirm)="deleteProduct()"
    (cancel)="closeConfirmationModal()">
  </app-confirmation-modal>
</app-modal>

