@import '../../../../variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  color: white;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 10px;
  position: relative;
  &__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__cart-count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: blue;
    border-radius: 1rem;
    width: 20px;
    height: 20px;
    text-align: center;
  }
}

.nav-link {
  color: white;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}

.active {
  text-decoration: underline;
}
